/* ------------ ESTILOS DE ETIQUETAS HTML ------------ */
/* Se alinea el contenido del header en el centro y se le da un fondo */
header {
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

/* Se da el fondo de pantalla, se reducen los margenes y se establecen la fuente del texto al body */
body {
	background-repeat: repeat;
	background-size: 100%;
	margin: 0px;
	font-family: Silkscreen;
}

/* Centra los titulos y pone la fuente de color blanco y a un tamano concreto */
h2{
	text-align: center;
	color: white;
	font-size: 40px;
}

/* Pone las lineas de texto de color blanco y a un tamano concreto */
p {
	color: white;
	font-size: 20px;
}

/* Estilo de la etiqueta footer en HTML. Se le da el fondo, color, margenes y tamaño */
footer {
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 2em 0;
	margin-top: 8em;
	bottom: 0;
}

/* Estilo de la etiqueta img dentro del footer. Se le da tama�o y un redondeo */
footer img {
	width: 80px;
	border-radius: 1em;
}

/* Añade un filtro de color al pasar el ratón por encima de una imagen del footer */
footer img:hover {
	filter: brightness(75%);
	-webkit-filter: brightness(75%);
}

/* ------------ ESTILOS PROPIOS ------------ */
/* El cuerpo ocupa como minimo toda la altura de la pantalla y se le pone un ancho (mayor o igual al de la resolucion del juego) 
	junto con un margin auto para ponerlos en el centro le la pantalla */
.cuerpo{
	margin: auto;
	width: auto;
}

/* El ancho y los margenes de la imagen del titulo */
.titulo{
	width: 30%;
	margin: 0px 0px 80px;
}

/* Justifica la descripcion */
.descripcion{
	text-align: justify;
}

/* Footer. Se describe la forma de disposicion, tamano, alineacion y diseno responsive */
.footer-container {
	width: 100%;
	display: block;
	background-color: #894e18;
	line-height: 40%;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	justify-content: space-around;
}

/* Contenidos del footer. Se usa para determinar distintas secciones en el footer. Dise�o responsive y ajustes */
.footer-content {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 50px 30px 10px;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #e0b54e;
	background-image: url('../assets/tubo.png');
	background-repeat: repeat repeat;
}

.participantes-lista li:nth-child(even) img {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}
  
.participantes-lista li:nth-child(even) .descripcion {
	position: relative;
	z-index: 2;
}